.display-movie {
  width: 300px;
}

.movie-poster {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-name {
  font-size: 24px;
  margin: 0px;
}

.movie-rating {
  font-size: 18px;
}

.movie-summary {
  margin-top: 0px;
}

body {
  margin: 20px;
}

.Movie-App {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter-container {
  display: flex;
  gap: 10px;
}

.likes-dislikes {
  font-size: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
}

.color-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}
