.display-movie {
  width: 300px;
  height: min-content;
}

.movie-poster {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-name {
  font-size: 24px;
  margin: 0px;
  max-width: 75%;
}

.movie-rating {
  font-size: 18px;
}

.movie-summary {
  margin-top: 0px;
}

body {
  margin: 20px;
}

.Movie-App {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter-container {
  display: flex;
  gap: 10px;
}

.likes-dislikes {
  font-size: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
}

.add_color {
  margin: 30px;
}

.color-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.add_movie-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.navbar {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 30px;
  flex-direction: row;
  gap: 20px;
}

.not-found {
  display: flex;
  justify-content: center;
}

.details-container {
  padding: 20px;
  max-width: 60%;
}
